html{
	margin:0;
	background: url(../images/dedma.jpg);
	background-attachment:fixed;
	background-size:cover;
	overflow-x:hidden;
}

.dim{
	background:rgba(55,55,55,0.7);
}

@media only screen and (max-width: 768px){
	html{
	margin:0;
	background: url(../images/dedma-mobile.jpg);
	background-attachment:fixed;
	background-size:100%;
	background-repeat:no-repeat;
	overflow-x:hidden;
}
}