*{
	box-sizing:border-box;
	z-index:1;
	margin:0;
	-o-transition:.15s;
  	-ms-transition:.15s;
  	-moz-transition:.15s;
  	-webkit-transition:.15s;
}

html{
	/*text-shadow:0.5px 0.5px black;*/
	margin:0;
	background-color: rgb(0,0,0);
}

body{
	margin:0;
}

nav{
	padding:20px;
	width:100vw;
	display: inline-block;
    vertical-align: middle;
}

#home-nav{
	position:fixed;
}

nav a{
	height:75px;
	float-left;
	margin:30px;
	text-decoration:none;
	color:white;
	font-size:3vh;
	font-family:'avenir';
	padding:20px;
}

nav a:hover{
	color:#EB7B07;
	opacity:1;
}

h1,h2,h3,h4,h5{
	margin:0;
}

.hollow-btn{
	padding-left:20px;
	padding-right:20px;	
	font-size:16px;
	background:none;
	border:solid white 5px;
	color:white;
	font-weight:500;
	font-family:'Roboto';
	border-radius:none;
	box-shadow:none;
	float:right;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	opacity:0.7;
}

.hollow-btn:hover{
	background:white;
	color:#EC9A1A;
	opacity:1;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

.logo{
	display: inline-block;
    vertical-align: middle;
	height:75px;
	width:75px;
}

.logo-tagline{
	display: inline-block;
    vertical-align: middle;
	max-width:400px;
}

#side-nav{
	padding-left:30px;
	width:30%;
	height:80vh;
}

#side-nav a{
	font-size:3vh;
	float:left;
	clear:left;
	margin:20px;
	text-decoration:none;
	font-family:'avenir', Segoe;
	color:white;
	border-left:solid rgba(255,255,255,0) 2px;
	opacity:0.5;
	padding:5px;
}

#side-nav a:hover{
	color:#EB7B07;
	opacity:1;
	border-left:solid #EB7B07 5px;
}



/* Home CSS */

#feature-div{
	height:100vh;
	width:100vw;
	background: url(../images/van.png);
	background-size:cover;
	padding:10%;
}

.feature-info{
	position:relative;
}

.feature-info a{
	text-decoration:none;
	color:white;
	padding:10px;
	margin-top:20px;
	display:inline-block;
	font-family:'avenir';
	font-weight:bolder;
	background: #EB7B07;
}

#featured-films{
	height:50vh;
	width:100vw;
	padding-left:5%;
	padding-right:5%;
	margin-top:-5%;
	text-align:center;
}

.movie-tile{
	display:inline-block;
	max-width:24%;

}
.movie-tile img{
	max-width:100%;
}




@font-face{
	font-family:avenir;
	src: url(../fonts/avenirxltpro.OTF);
}

