*{
	box-sizing:border-box;
	z-index:1;
	margin:0;
	-o-transition:.15s;
  	-ms-transition:.15s;
  	-moz-transition:.15s;
  	-webkit-transition:.15s;
}

html{
	margin:0;
	background: url(../images/van.png);
	background-attachment:fixed;
	background-size:cover;
	overflow-x:hidden;
}

body{
	margin:0;
}

nav{
	padding:20px;
	width:100vw;
	display: inline-block;
    vertical-align: middle;
    z-index:999;
}

a{
	text-decoration:none;
}

#home-nav{
	position:fixed;
}

nav a{
	height:75px;
	float-left;
	margin:30px;
	text-decoration:none;
	color:white;
	font-size:2vh;
	font-family:'avenir', 'Open Sans', sans-serif;
	padding:20px;
}

nav a:hover{
	color:#EB7B07;
	opacity:1;
}

h1,h2,h3,h4,h5{
	margin:0;
}

.hollow-btn{
	padding-left:20px;
	padding-right:20px;	
	font-size:16px;
	background:none;
	border:solid white 5px;
	color:white;
	font-weight:500;
	font-family:'Roboto';
	border-radius:none;
	box-shadow:none;
	float:right;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  	opacity:0.7;
}

.hollow-btn:hover{
	background:white;
	color:#EC9A1A;
	opacity:1;
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

.logo{
	display: inline-block;
    vertical-align: middle;
	height:30px;
	width:30px;
}

.logo-tagline{
	display: inline-block;
    vertical-align: middle;
	max-width:400px;
}

#side-nav{
	padding-left:30px;
	width:30%;
	height:80vh;
}

#side-nav a{
	font-size:3vh;
	float:left;
	clear:left;
	margin:20px;
	text-decoration:none;
	font-family:'avenir', 'Open Sans', sans-serif;
	color:#EB7B07;
	border-left:solid rgba(255,255,255,0) 2px;
	opacity:0.5;
	padding:5px;
}

#side-nav a:hover{
	color:#EB7B07;
	opacity:1;
	border-left:solid #EB7B07 5px;
}



/* Home CSS */

#feature-div{
	height:100vh;
	width:100vw;
	
	padding:10%;
}

.feature-info{
	position:relative;
}

.feature-info h1{
	color:white;
	font-family:'avenir', 'Open Sans', sans-serif;
}

.feature-info p{
	max-width:40%;
	color:white;
	font-family:'avenir', 'Open Sans', sans-serif;
}

.feature-info a{
	text-decoration:none;
	color:white;
	padding:10px;
	margin-top:20px;
	display:inline-block;
	font-family:'avenir', 'Open Sans';
	font-weight:bolder;
	background: #EB7B07;
}

#featured-films{
	width:100vw;
	padding-left:5%;
	padding-right:5%;
	padding-bottom:10%;
	margin-top:-5%;
	text-align:center;
	background:rgba(255,255,255,0);
}

#featured-films h3{
	text-align:left;
	color:white;
	font-family:'avenir', 'Open Sans', sans-serif;
	margin:20px;
	font-size:4vh;
}

.movie-tile{
	display:inline-block;
	max-width:24%;
	position:relative;
	vertical-align:middle;

}
.movie-tile img{
	max-width:100%;
}

.movie-tile a{
	float:left;
	text-decoration:none;
	display:inline-block;
	color:white;
	padding:10px;
	margin-top:20px;
	position:absolute;
	bottom:0%;
	left:0%;
	width:100%;
	font-family:'avenir', 'Open Sans', sans-serif;
	font-weight:bolder;
	background:#EB7B07;
	/*border:solid #EB7B07 2px;*/
	opacity:0;
}

.movie-tile:hover a{
	opacity:1;
}

footer{
	height:40vh;
	background-color:rgb(55,55,55);
	padding:25px;
	padding-left:10%;
	font-family:'avenir', 'Open Sans', sans-serif;
	color:white;
}

footer h3{
	color:#EB7B07;
}

footer p{
	font-size:2vh;
}

#contact-div{
	display:inline-block;
	max-width:40%;
	/*border:solid white 2px;*/
}

#social-media{
	display:inline;
	max-width:30%;
	/*border:solid white 2px;*/
}

#social-media{
	font-size:5vh;
	margin-left:10%;
}

#social-media h3{
	font-size:2.5vh;
}

#social-media i{
	margin:10px;
}

#social-media a{
	color:white;
	text-decoration:none;
}

.changeBG{
	background:rgba(55,55,55,0.9);
}



@font-face{
	font-family:avenir;
	src: url(../fonts/avenirxltpro.OTF);
}

