html{
	margin:0;
	background: url(../images/dedma.jpg);
	background-attachment:fixed;
	background-size:contain;
	background-repeat:no-repeat;
	overflow-x:hidden;
}

@media only screen and (max-width: 768px){


}